h2 {
   text-align: right;
   font-size: 30px;
   font-weight: 600;
   color: white;
}
 .ico {
   height: 200px;
   width: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-image: url("https://more.ks.ua/Media/images/news/original/506_28419f53b9e69760b4ef23436655ec9a.jpg");
}