<div>
<h2><strong>Гавайи</strong></h2>
      <p>Едва ли кто-нибудь назовет США экзотической страной, однако Гавайи, которые являются одним из ее штатов,
         представляют собой самое настоящее царство экзотики со стройными пальмами,
         диковинными цветами и непередаваемой атмосферой вечного праздника.
         Причем природа и цивилизация здесь достигли настоящей гармонии:
         большинство жителей говорит по-английски, сотовая связь имеет отличное качество,
         в ходу американские доллары, а фешенебельные рестораны и отели встречаются повсеместно.
         Таким образом, на Гавайях буквально каждый путешественник сможет почувствовать себя как в раю, ведь главным
         богатством островов являются мягкий песок, манящий океан, тропические пальмы, а также экзотические птицы и
         цветы.
         Кроме того, отличительной чертой островов является беззаботная жизнь и бесконечная праздничная атмосфера.
         Возможно, именно поэтому самым распространенным здесь словом стало «aloha», которое обозначает приветствие,
         прощание, любовь и радость.
         Ну и еще одним из главных преимуществ Гавайских островов является их разнообразие: все они отличаются друг от
         друга ландшафтом, растительностью и степенью урбанизации.
         Таким образом, варианты отдыха здесь чрезвычайно разнообразны, что, несомненно, порадует даже самых
         взыскательных путешественников.
      </p>
      </div>