<div>
<h2><strong>Шри-Ланка</strong></h2>
<p>Стиль отдыха на Шри-Ланке можно вкратце определить так: подальше от шума и суеты,
   поближе к морю и природе. Вряд ли в мире найдется более «неторопливая» страна, чем Шри-Ланка:
   здесь никто никуда не спешит, все наслаждаются жизнью — в том числе и обслуживающий персонал
   в отелях (к топовым заведениям, правда, не относится — там все бегают в мыле, чтобы ублажить постояльцев)
   . Большинство достопримечательностей на Шри-Ланке природные, точно так же, как и большинство развлечений.
   Шумные дискотеки и дым коромыслом до утра здесь не в фаворе, а вот пикники на природе, рыбалка или
   барбекю на пляже — сколько угодно. Ну и дайвинг, само собой. Чем Шри-Ланка не может порадовать, так это
   близостью к нашей необъятной: перелет сюда длительный.
</p>
</div>